<div class="row">
<div class="media col-md-offset-2 col-md-8">
  <div class="media-left">
    <p><%= @rank  %> 位</p></ br>
    <span class="badge badge-pill badge-primary"><%= @interest_sum[@topic.id] %></span>
  </div>
  <div class="media-body">
    <div>
      <span class="text-muted">posted at <%= @topic.created_at %></span>
    </div>
    <div class="topic-content text-center">
      <h2><%= @topic.content %></h2>
    </div>
  </div>
  <div class="media-right">
    <% if @topic.user == current_user %>
      <%= link_to 'お題を削除', @topic, method: :delete, data: {confirm: '本当に削除してよろしいですか?'}, class: 'delete-button btn btn-danger' %>
    <% end %>
    <%= link_to '説明を投稿', new_post_path(topic_id: @topic.id), class: 'post-button btn btn-md btn-default' %>
  </div>
  <div>
    <% if @topic.posts %>
      <%= render "posts/posts", posts: @posts %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
</div>
