<ul class="media-list">
  <% posts.each do |post| %>
    <li class="media">
      <div class="post media-body">
        <div class="created-date">
          <span class="text-muted">posted <%= distance_of_time_in_words_to_now(post.created_at) %> ago by <%= post.user.name %></span>
        </div>
        <div class="post-image text-center">
          <% if post.image? %>
            <%= image_tag post.image.url, class: "media-object " %>
          <% else %>
            <%= image_tag 'noimage.gif' %>
          <% end %>
        </div>
        <div class="post-content text-center">
          <%= post.content%>
        </div>
        <% if logged_in? %>
          <% if post.user == current_user %>
            <div class="delete-button"><%= link_to '削除', post, method: :delete, data: {confirm: '本当に削除してよろしいですか?'}, class: 'post-buttons btn btn-danger text-left' %></div>
          <% end %>
          <div class="post-buttons text-right">
            <%= render "interests/agree_button", post: post %>
            <%= render "interests/disagree_button", post: post %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>